// ----------------------------------------
// Screen Reader Text
// ----------------------------------------

.u-screen-reader {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
