doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title webpack dev env
    link(rel="stylesheet", href="../assets/css/app.css")
  body

    include ./include/_header

    main
      p This is frontend develop environment with webpack.
      p index test.

    include ./include/_footer
